{
  email "tcurdt@vafer.org"
  admin :2019
  servers {
    metrics
  }
  # debug
  # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

live.vafer.work {
  tls internal
  # tls { issuer acme }

  header -server
  reverse_proxy http://backend.live.svc.cluster.local:80
}
